<ion-content>
  <ion-input>
    <ion-header
      class="formHeader"
      color="talkColor"
    >
      <ion-icon
        class="navArrow2"
        name="md-arrow-round-back"
      ></ion-icon>

      <ion-title class="tituloTab">Inicio de sesion</ion-title>
    </ion-header>
  </ion-input>

  <ion-item color="primary">
    <ion-label position="floating">Email:</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item color="primary">
    <ion-label position="floating">Contraseña:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button [routerLink]="['/juegos']">ACCEDER</ion-button>
  <ion-button [routerLink]="['/home']">REGRESAR</ion-button>

</ion-content>
