<ion-content>
  <ion-input>
    <ion-header
      class="formHeader"
      color="talkColor">
      
      <ion-icon
        class="navArrow2"
        name="md-arrow-round-back"
      ></ion-icon>

      
      <ion-title class="tituloTab">Formulario de Registro</ion-title>
    </ion-header>
  </ion-input>

  <ion-item color="primary">
    <ion-label position="floating">Nombre:</ion-label>

    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item color="primary">
    <ion-label position="floating">Apellido:</ion-label>

    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item color="primary">
    <ion-label position="floating">Teléfono:</ion-label>

    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item color="primary">
    <ion-label position="floating">Email:</ion-label>

    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item color="primary">
    <ion-label position="floating">Contraseña:</ion-label>

    <ion-input type="password"></ion-input>
  </ion-item>

   
  &nbsp;&nbsp; &nbsp;&nbsp;<ion-button [routerLink]="['/seion']">GUARDAR</ion-button>
  <ion-button [routerLink]="['/home']">CANCELAR</ion-button>
</ion-content>