<ion-content>
    <ion-input>
        <ion-header
          class="formHeader"
          color="talkColor">
          
          <ion-icon
            class="navArrow2"
            name="md-arrow-round-back"
          ></ion-icon>
          
          <ion-title class="tituloTab">Formulario de Registro</ion-title>
        </ion-header>
      </ion-input>


    <ion-card>
        <ion-item color="primary">
            <ion-label position="floating">Nombre del juego</ion-label>
            <ion-input 
            type= 'text'
            placeholder= 'Nombre'
            ></ion-input>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item color="primary">
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea 
            placeholder= 'Descripción'
            ></ion-textarea>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item color="primary">
            <ion-label position="floating">Precio</ion-label>
            <ion-input 
            type= 'number'
            placeholder= 'Precio'
            ></ion-input>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item color="primary">
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input 
            type= 'number'
            placeholder= 'Cantidad'
            ></ion-input>
        </ion-item>
    </ion-card>
   
        <ion-button> Guardar</ion-button>
    <ion-button [routerLink]="['/home']">Regresar</ion-button>
  

</ion-content>
