@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

  ion-content{
    --background: url("../src/assets/cel.png") 0 0/100% 100% no-repeat;
  }
  h1 {
    color:rgb(47, 133, 245);
    text-align: right;
  }
  .formHeader {
    height: 50px;
    text-align: center;
    margin-top:40%;
  }
  
  .navArrow2 {
    color: white;
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    vertical-align: center;
  
  }
  
  .tituloTab {
    margin:auto;
    display:block;
    vertical-align: center;
    color: white;
    font-weight: 600;
    background-color:#424867;
  
  }
  ion-item{ //letras 
    font-size: 15px;
    display:block;
    vertical-align: center;

  }
  